#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  height: 4em;
  padding: 4em;
  will-change: filter;
  transition: filter 300ms;
}
.button:hover {
  filter: drop-shadow(0 0 2em rgba(7, 27, 224, 0.67));
}

@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .button {
    animation: button-spin infinite 20s linear;
  }
}

.upgradeButton:hover{
  filter: drop-shadow(0 0 2em rgba(54, 224, 7, 0.67));
}
